#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color:rgb(59, 28, 66);
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border: none;
    background-color: rgb(211, 165, 237);
    font-weight: bold;
    color:rgb(59, 28, 66);
}
button:hover{
    background-color: rgb(161, 122, 181);
}
input{
    font-size: 2rem;
    font-weight: bold;
    color:rgb(59, 28, 66);
}
#diceImages img {
    width: 200px;
    height: 200px;
}
body{
    background-color:rgb(151, 146, 207);
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(59, 28, 66);
}